# Librarys
lib/
.env
.venv
.json

# Python temp paths.
__pycache__/
__pypackages__/
*.py[cod]
.pytype/

# Editors.
*~
*.swp
*.swo
*#

# Local patches.
/*.patch
/*.diff
.patch
.diff

# Locally built extensions.
/*.zip
.zip
